*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.fja {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #e0e0e0;
    background: #77aebb;
    border-radius: 20px;
    transition: all 0.2s linear;
}

::-webkit-scrollbar-thumb:hover {
    background: #64a3b1;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    width: 5px;
}